/*=================================================
# Hero
==================================================*/
#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url(../img/bg/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: var(--white-color);
}

#hero .hero-txt {
    margin-top: 0px;
}

#hero h3 {
    line-height: 6rem;
    font-size: 75px;
    font-weight: bolder;
    text-align: center;
}



/* ==== Media Queries ==== */

@media only screen and (max-width: 1060px) {}

@media only screen and (max-width: 576px) {
    #hero {
        height: 200px;
    }

    #hero h3 {
        line-height: 3.3rem;
        font-size: 35px;
        text-align: center;
    }

    #hero .hero-txt {
        margin-top: 10px;
    }
}

@media only screen and (max-width: 416px) {
    #hero {
        height: 200px;
    }

    #hero h3 {
        line-height: 3.3rem;
        font-size: 35px;
        text-align: center;
    }

    #hero .hero-txt {
        margin-top: 10px;
    }

}

@media only screen and (max-width: 376px) {
    #hero {
        height: 200px;
    }

    #hero h3 {
        line-height: 3.3rem;
        font-size: 35px;
        text-align: center;
    }

    #hero .hero-txt {
        margin-top: 10px;
    }

}

@media only screen and (max-width: 326px) {
    #hero {
        height: 200px;
    }

    #hero h3 {
        line-height: 3.3rem;
        font-size: 35px;
        text-align: center;
    }

    #hero .hero-txt {
        margin-top: 30px;
    }

}

@media only screen and (max-width: 300px) {}

/*=================================================
# About
==================================================*/
#about {
    background: var(--light-color);
    color: var(--black-color);
    padding: 0px 0 0px 0;
}

#about .container {
    padding: 0 40px;
}

#about .row {
    gap: 0.5em;
    padding-top: 65px;
}

#about .card {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: none;
    border: 1px solid var(--warning-color);
    position: relative;
}

#about .fas {
    position: absolute;
    right: 30px;
}

#about .img {
    border-radius: 50px;
    height: 100px;
    width: 100px;
    position: absolute;
    top: -60px;
}

#about img {
    width: 100%;
    height: auto;
    border-radius: 50px;
    object-fit: cover;
}

#about .heading-txt {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--black-color);
    margin-top: 35px;
    margin-bottom: -20PX;
    font-size: 40px;
    font-weight: 600;
}

#about .heading-txt::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 7px;
    bottom: 0;
    top: 65px;
    background: var(--warning-color);
    border-radius: 5px;
}

/* ==== Media Queries ==== */

@media only screen and (max-width: 786px) {
    #about {
        padding: 0px 0 0px 0;
    }

    #about .container {
        padding: 0 20px;
    }

    #about .heading-txt {
        font-size: 30px;
    }

    #about .heading-txt::before {
        top: 50px;
    }
}


/*=================================================
# Ours
==================================================*/
#ours {
    padding: 0px 0 30px 0;
    background: var(--light-color);
    color: var(--dark-color);
}

#ours .ours-txt {
    margin-top: 0px;
}

#ours .ours-txt h3 {
    text-transform: uppercase;
    font-size: 30px;
    color: var(--dark-color);
}

#ours .ours-txt .card {
    border-left: 5px solid var(--primary-color);
    text-align: justify;
}

#ours .ours-txt .card.events {
    margin-top: 23px;
}


/* ==== Media Queries ==== */

@media only screen and (max-width: 786px) {
    #ours {
        padding: 0px 0 30px 0;
    }

    #ours .container {
        padding: 0 20px;
    }

    #ours .ours-txt {
        margin-top: 0px;
    }

    #ours .ours-txt h3 {
        font-size: 25px;
        text-align: center;
    }

    #ours .ours-txt .card.events {
        margin-top: 5px;
    }
}

/*=================================================
# Team
==================================================*/
#team {
    background: var(--light-color);
    color: var(--black-color);
    padding: 5px 0 65px 0;
}

#team .container {
    padding: 0 40px;
}

#team .row {
    gap: 0.5em;
    padding-top: 10px;
}

#team .card {
    box-shadow: none;
    position: relative;
}

#team .social {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: .5rem;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--warning-color);
    padding: .8rem .5rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

#team .social a {
    text-decoration: none;
    color: var(--light-color);
    font-size: 18px;
    transition: opacity .3s;
}

#team .social a:hover {
    opacity: 0.7;
}

#team .heading-txt {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--black-color);
    margin-bottom: 50px;
    font-size: 40px;
    font-weight: 600;
}

#team .heading-txt::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 7px;
    bottom: 0;
    top: 65px;
    background: var(--warning-color);
    border-radius: 5px;
}

/* ==== Media Queries ==== */

@media only screen and (max-width: 786px) {
    #team {
        padding: 0px 0 45px 0;
    }

    #team .container {
        padding: 0 20px;
    }

    #team .heading-txt {
        font-size: 30px;
    }

    #team .heading-txt::before {
        top: 50px;
    }
}