/*=================================================
# Hero
==================================================*/
#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url(../img/bg/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: var(--white-color);
}

#hero .hero-txt {
    margin-top: 0px;
}

#hero h3 {
    line-height: 6rem;
    font-size: 75px;
    font-weight: bolder;
    text-align: center;
}



/* ==== Media Queries ==== */

@media only screen and (max-width: 1060px) {}

@media only screen and (max-width: 576px) {
    #hero {
        height: 200px;
    }

    #hero h3 {
        line-height: 3.3rem;
        font-size: 55px;
        text-align: center;
    }

    #hero .hero-txt {
        margin-top: 10px;
    }
}

@media only screen and (max-width: 416px) {
    #hero {
        height: 200px;
    }

    #hero h3 {
        line-height: 3.3rem;
        font-size: 55px;
        text-align: center;
    }

    #hero .hero-txt {
        margin-top: 10px;
    }

}

@media only screen and (max-width: 376px) {
    #hero {
        height: 200px;
    }

    #hero h3 {
        line-height: 3.3rem;
        font-size: 55px;
        text-align: center;
    }

    #hero .hero-txt {
        margin-top: 10px;
    }

}

@media only screen and (max-width: 326px) {
    #hero {
        height: 200px;
    }

    #hero h3 {
        line-height: 3.3rem;
        font-size: 55px;
        text-align: center;
    }

    #hero .hero-txt {
        margin-top: 30px;
    }

}

@media only screen and (max-width: 300px) {}


/*=================================================
# Why
==================================================*/
#why {
    padding: 0px 0 30px 0;
    background: var(--light-color);
    color: var(--dark-color);
}

#why .why-img {
    margin-top: 75px;
}

#why .why-img img {
    width: 400px;
}

#why .why-txt {
    margin-top: 40px;
}

#why .why-txt h3 {
    text-transform: uppercase;
    font-size: 30px;
    color: var(--dark-color);
}

#why .why-txt .card {
    border-left: 5px solid var(--primary-color);
    text-align: justify;
}

#why .why-txt .card.events {
   margin-top: 23px;
}


/* ==== Media Queries ==== */

@media only screen and (max-width: 786px) {
    #why {
        padding: 25px 0 30px 0;
    }

    #why .container {
        padding: 0 30px;
    }

    #why .why-txt {
        margin-top: 0px;
    }

    #why .why-txt h3 {
        font-size: 25px;
        text-align: center;
    }
    #why .why-txt .card.events {
        margin-top: 5px;
     }
}

/*=================================================
# Miira-Care
==================================================*/
#miira-care {
    background: var(--light-color);
    color: var(--black-color);
    padding: 15px 0 45px 0;
}

#miira-care .container {
    padding: 0 0px;
}

#miira-care .row {
    gap: 1em;
}

#miira-care .col {
    position: relative;
    max-width: 800px;
}

#miira-care img {
    width: 350px;
}

#miira-care .heading-txt {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--black-color);
    margin-bottom: 50px;
    font-size: 40px;
    font-weight: 600;
}

#miira-care .heading-txt::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 7px;
    bottom: 0;
    top: 65px;
    background: var(--warning-color);
    border-radius: 5px;
}

#miira-care .overlay {
    position: absolute;
    bottom: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: var(--dark-color);
    overflow: hidden;
    width: 100%;
    height: 0px;
    transition: .5s ease;
}

#miira-care .col:hover .overlay {
    bottom: 0;
    height: 98.6%;
}

#miira-care .overlay-content {
    color: var(--white-color);
    font-size: 16px;
    position: absolute;
    top: 37%;
    left: 37%;
    -webkit-transform: translate(-30%, -30%);
    -ms-transform: translate(-30%, -30%);
    transform: translate(-30%, -30%);
    text-align: center;
}

#miira-care .overlay-content p {
    text-decoration: none;
    font-size: 16px;
    text-align: justify;
}

#miira-care .overlay-content a.btn {
    text-decoration: none;
    line-height: 1.4em;
    transition: all .5s;
    background: transparent;
    color: var(--light-color);
    border: 2px solid var(--light-color);
    margin-top: 20px;
}

#miira-care .overlay-content a.btn:hover {
    background: transparent;
    border: 2px solid var(--secondary-color);
}

/* ==== Media Queries ==== */

@media only screen and (max-width: 786px) {
    #miira-care {
        padding: 40px 0 45px 0;
    }

    #miira-care .container {
        padding: 0 20px;
    }

    #miira-care .heading-txt {
        font-size: 30px;
    }

    #miira-care .heading-txt::before {
        top: 50px;
    }
}

/*=================================================
# Testimonials
==================================================*/
#testimonials {
    background: var(--light-color);
    color: var(--black-color);
    padding: 5px 0 65px 0;
}

#testimonials .container {
    padding: 0 40px;
}

#testimonials .row {
    gap: 0.5em;
    padding-top: 65px;
}

#testimonials .card {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: none;
    border: 1px solid var(--warning-color);
    position: relative;
}

#testimonials .fas {
    position: absolute;
    right: 30px;
}

#testimonials .img {
    border-radius: 50px;
    height: 100px;
    width: 100px;
    position: absolute;
    top: -60px;
}

#testimonials img {
    width: 100%;
    height: auto;
    border-radius: 50px;
    object-fit: cover;
}

#testimonials .heading-txt {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--black-color);
    margin-bottom: 50px;
    font-size: 40px;
    font-weight: 600;
}

#testimonials .heading-txt::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 7px;
    bottom: 0;
    top: 65px;
    background: var(--warning-color);
    border-radius: 5px;
}

/* ==== Media Queries ==== */

@media only screen and (max-width: 786px) {
    #testimonials {
        padding: 0px 0 45px 0;
    }

    #testimonials .container {
        padding: 0 20px;
    }

    #testimonials .heading-txt {
        font-size: 30px;
    }

    #testimonials .heading-txt::before {
        top: 50px;
    }
}