/*=================================================
# Hero
==================================================*/
#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url(../img/bg/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: var(--white-color);
}

#hero .hero-txt {
    margin-top: 0px;
}

#hero h3 {
    line-height: 6rem;
    font-size: 75px;
    font-weight: bolder;
}

#hero .hero-img {
    margin-top: -30px;
}

#hero .hero-img img {
    width: 100%;
}


/* ==== Media Queries ==== */

@media only screen and (max-width: 1060px) {}

@media only screen and (max-width: 576px) {
    #hero {
        height: 800px;
    }

    #hero h3 {
        line-height: 3.3rem;
        font-size: 55px;
        text-align: justify;
    }

    #hero .hero-txt {
        margin-top: 30px;
    }

    #hero .hero-img {
        margin-top: -12px;
    }

    #hero .hero-img img {
        width: 100%;
    }
}

@media only screen and (max-width: 416px) {
    #hero {
        height: 850px;
    }

    #hero h3 {
        line-height: 3.3rem;
        font-size: 55px;
        text-align: justify;
    }

    #hero .hero-txt {
        margin-top: 30px;
    }

    #hero .hero-img {
        margin-top: -12px;
    }

    #hero .hero-img img {
        width: 100%;
    }
}
@media only screen and (max-width: 376px) {
    #hero {
        height: 800px;
    }

    #hero h3 {
        line-height: 3.3rem;
        font-size: 55px;
        text-align: justify;
    }

    #hero .hero-txt {
        margin-top: 30px;
    }

    #hero .hero-img {
        margin-top: -12px;
    }

    #hero .hero-img img {
        width: 100%;
    }
}
@media only screen and (max-width: 326px) {
    #hero {
        height: 800px;
    }

    #hero h3 {
        line-height: 3.3rem;
        font-size: 55px;
        text-align: justify;
    }

    #hero .hero-txt {
        margin-top: 30px;
    }

    #hero .hero-img {
        margin-top: -12px;
    }

    #hero .hero-img img {
        width: 100%;
    }
}

@media only screen and (max-width: 300px) {}