/*=================================================
# Hero
==================================================*/
#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url(../img/bg/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: var(--white-color);
}

#hero .hero-txt {
    margin-top: 0px;
}

#hero h3 {
    line-height: 6rem;
    font-size: 75px;
    font-weight: bolder;
}

#hero .hero-img {
    margin-top: -30px;
}

#hero .hero-img img {
    width: 100%;
}


/* ==== Media Queries ==== */

@media only screen and (max-width: 1060px) {}

@media only screen and (max-width: 576px) {
    #hero {
        height: 800px;
    }

    #hero h3 {
        line-height: 3.3rem;
        font-size: 55px;
        text-align: justify;
    }

    #hero .hero-txt {
        margin-top: 30px;
    }

    #hero .hero-img {
        margin-top: -12px;
    }

    #hero .hero-img img {
        width: 100%;
    }
}

@media only screen and (max-width: 416px) {
    #hero {
        height: 850px;
    }

    #hero h3 {
        line-height: 3.3rem;
        font-size: 55px;
        text-align: justify;
    }

    #hero .hero-txt {
        margin-top: 30px;
    }

    #hero .hero-img {
        margin-top: -12px;
    }

    #hero .hero-img img {
        width: 100%;
    }
}

@media only screen and (max-width: 376px) {
    #hero {
        height: 800px;
    }

    #hero h3 {
        line-height: 3.3rem;
        font-size: 55px;
        text-align: justify;
    }

    #hero .hero-txt {
        margin-top: 30px;
    }

    #hero .hero-img {
        margin-top: -12px;
    }

    #hero .hero-img img {
        width: 100%;
    }
}

@media only screen and (max-width: 326px) {
    #hero {
        height: 800px;
    }

    #hero h3 {
        line-height: 3.3rem;
        font-size: 55px;
        text-align: justify;
    }

    #hero .hero-txt {
        margin-top: 30px;
    }

    #hero .hero-img {
        margin-top: -12px;
    }

    #hero .hero-img img {
        width: 100%;
    }
}

@media only screen and (max-width: 300px) {}


/*=================================================
# Why
==================================================*/
#why {
    padding: 30px 0 20px 0;
    background: var(--light-color);
    color: var(--dark-color);
}

#why .why-img {
    margin-top: 75px;
}

#why .why-img img {
    width: 400px;
}

#why .why-txt {
    margin-top: 40px;
}

#why .why-txt h3 {
    text-transform: uppercase;
    font-size: 30px;
    color: var(--dark-color);
}

#why .why-txt .card {
    border-left: 5px solid var(--primary-color);
    text-align: justify;
}


/* ==== Media Queries ==== */

@media only screen and (max-width: 786px) {
    #why {
        padding: 45px 0 0px 0;
    }

    #why .container {
        padding: 0 20px;
    }

    #why .why-img img {
        width: 100%;
    }

    #why .why-img {
        margin-top: -20px;
    }

    #why .why-txt {
        margin-top: -55px;
    }

    #why .why-txt h3 {
        font-size: 25px;
        text-align: center;
    }
}

/*=================================================
# Miira-Care
==================================================*/
#miira-care {
    background: var(--light-color);
    color: var(--black-color);
    padding: 5px 0 45px 0;
}

#miira-care .container {
    padding: 0 0px;
}

#miira-care .row {
    gap: 1em;
}

#miira-care img {
    width: 350px;
}

#miira-care .heading-txt {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--black-color);
    margin-bottom: 50px;
    font-size: 40px;
    font-weight: 600;
}

#miira-care .heading-txt::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 7px;
    bottom: 0;
    top: 65px;
    background: var(--warning-color);
    border-radius: 5px;
}

/* ==== Media Queries ==== */

@media only screen and (max-width: 786px) {
    #miira-care {
        padding: 40px 0 45px 0;
    }

    #miira-care .container {
        padding: 0 20px;
    }

    #miira-care .heading-txt {
        font-size: 30px;
    }

    #miira-care .heading-txt::before {
        top: 50px;
    }
}

/*=================================================
# Testimonials
==================================================*/
#testimonials {
    background: var(--light-color);
    color: var(--black-color);
    padding: 5px 0 65px 0;
}

#testimonials .container {
    padding: 0 40px;
}

#testimonials .row {
    gap: 1em;
}

#testimonials img {
    width: 350px;
}

#testimonials .heading-txt {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--black-color);
    margin-bottom: 50px;
    font-size: 40px;
    font-weight: 600;
}

#testimonials .heading-txt::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 7px;
    bottom: 0;
    top: 65px;
    background: var(--warning-color);
    border-radius: 5px;
}

/* ==== Media Queries ==== */

@media only screen and (max-width: 786px) {
    #testimonials {
        padding: 0px 0 45px 0;
    }

    #testimonials .container {
        padding: 0 20px;
    }

    #testimonials .heading-txt {
        font-size: 30px;
    }

    #testimonials .heading-txt::before {
        top: 50px;
    }
}