/*=================================================
# General 
==================================================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

html {
    scroll-behavior: smooth;
}


body {
    overflow-x: hidden;
}

main {
    margin-top: 75px;
}

a {
    text-decoration: none;
}

/*=================================================
# Header
==================================================*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--light-color);
    height: 75px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
    border-bottom: 1px solid var(--light-gray-color);
}

.navbar .nav-brand {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 90px;
}

.navbar .nav-brand .brand {
    width: 55px;
}

.navbar .nav-brand .brand-2 {
    width: 150px;
    margin-top: 3px;
}

.navbar .navbar-nav {
    display: flex;
    gap: 1.7rem;
    margin-left: auto;
}

.navbar-nav .nav-item {
    list-style: none;
    position: relative;
}

.navbar-nav .nav-item .nav-link {
    text-decoration: none;
    color: var(--dark-color);
}

.navbar-nav .nav-item .nav-link:hover {
    color: var(--gray-color);
}

.navbar-nav .nav-item .nav-link.active {
    color: var(--black-color);
    font-weight: bold;
    transition: color .3s ease;
    transform: scaleX(1);
    transform-origin: left;
}

.navbar-nav .nav-item .nav-link.active:hover {
    color: var(--gray-color);
}

.navbar-nav .nav-item .nav-link.active::before {
    transform: scaleX(1);
    transform-origin: left;
}

.nav-item .nav-link::before {
    position: absolute;
    content: '';
    left: 0;
    top: 25px;
    height: 3px;
    width: 70%;
    background: var(--primary-color);
    transform: scaleX(0);
    transition: transform .4s linear;
}

.nav-item .nav-link:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

.navbar .dropdown {
    position: relative;
}

.navbar .dropdown .dropdown-menu {
    position: absolute;
    background: var(--light-color);
    color: var(--light-color);
    padding: 20px 20px;
    display: none;
    justify-content: center;
    flex-direction: column;
    gap: .5rem;
    width: 200px;
    z-index: 1030;
    margin-top: 3px;
    transition: all .3s;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.navbar .dropdown .dropdown-menu .nav-item {
    text-decoration: none;
    border-bottom: 4px solid var(--light-gray-color);
}

.navbar .dropdown .dropdown-menu .nav-link {
    text-decoration: none;
    color: var(--dark-color);
    transition: all .3s;
}

.navbar .dropdown .dropdown-menu .nav-link:hover {
    color: var(--gray-color);
}

.navbar .dropdown:hover .dropdown-menu {
    display: flex;
}

.navbar .social {
    margin: 0 30px;
}

.navbar .social a {
    text-decoration: none;
    margin: 0 5px;
}

.navbar .social i {
    color: var(--dark-color);
    font-size: 20px;
    transition: color .3s ease;
}

.navbar .social i:hover {
    color: var(--gray-color);
}

.navbar a.btn {
    margin-right: 92px;
    outline: none;
    padding: 9px 40px;
}

.navbar #check-btn,
.navbar #check {
    display: none;
}


/* ==== Media Queries ==== */

@media only screen and (max-width: 1060px) {
    .navbar .nav-brand {
        margin-left: 0px;
    }

    .navbar #check-btn {
        display: block;
        margin-right: 40px;
        cursor: pointer;
        font-size: 23px;
        color: var(--primary-color);
        margin-top: 5px;
    }

    .navbar .navbar-nav {
        position: absolute;
        display: flex;
        flex-direction: column;
        background: var(--light-color);
        top: 0;
        left: -150%;
        height: 1200px;
        width: 100%;
        margin-top: 75px;
        padding: 30px 30px;
        transition: all .8s;
        border-top: 1px solid var(--light-gray-color);
        gap: 0.6rem;
    }

    .navbar #check:checked~.navbar-nav {
        left: 0;
    }

    .nav-item .nav-link::before {
        height: 3px;
        width: 13%;
    }

    .navbar .social {
        position: absolute;
        background: var(--light-color);
        top: 520px;
        left: -150%;
        transition: all .3s;
    }

    .navbar #check:checked~.social {
        left: 0;
    }

    .navbar .btn {
        position: absolute;
        background: var(--light-color);
        top: 580px;
        left: -150%;
        margin-left: 30px;
        transition: all .3s;
    }

    .navbar #check:checked~.btn {
        left: 0;
    }

    .navbar-nav .nav-item {
        margin: 15px 0;
    }

    .nav-item .nav-link {
        font-size: 18px;
    }
}

@media only screen and (max-width: 576px) {
    .navbar #check-btn {
        margin-right: 20px;
    }

    .navbar .nav-brand .brand {
        width: 50px;
        margin-left: 15px;
    }

    .navbar .nav-brand .brand-2 {
        width: 130px;
    }

    .navbar .dropdown .dropdown-menu {
        gap: .2rem;
        width: 100%;
    }
}

@media only screen and (max-width: 326px) {
    .navbar .nav-brand {
        margin-left: -15px;
    }

    .navbar #check-btn {
        font-size: 22px;
    }

    .navbar .navbar-nav {
        padding: 40px 25px;
    }
}

@media only screen and (max-width: 300px) {
    .navbar .nav-brand {
        margin-left: -15px;
    }

    .navbar #check-btn {
        font-size: 18px;
    }
}


/*=================================================
# Footer
==================================================*/
#footer {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/bg/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: var(--light-color);
    padding: 65px 0;
    position: relative;
}

#footer .col-brand {
    margin-top: 30px;
    display: grid;
}

#footer img {
    width: 100px;
    margin-left: -10px;
}

#footer .brand-text {
    font-size: 20px;
    font-weight: bold;
}

#footer .social {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: .7rem;
}

#footer .social a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--light-gray-color);
    font-size: 18px;
    transition: all .3s;
    border: 1px solid var(--light-gray-color);
    border-radius: 50%;
    height: 32px;
    width: 32px;
}

#footer .social a:hover {
    color: var(--gray-color);
}

#footer nav {
    display: flex;
    align-items: flex-start;
    flex-flow: column wrap;
    gap: 1rem;
}

#footer nav a {
    color: var(--light-gray-color);
    text-decoration: none;
    font-size: 17px;
    transition: all .3s;
}

#footer nav a:hover {
    color: var(--gray-color);
}


#footer .contact-address .location i {
    margin-top: -5px;
}

#footer .contact-address .phone i {
    margin-top: -2px;
}

#footer .contact-address .location,
#footer .contact-address .web,
#footer .contact-address .email,
#footer .contact-address .phone {
    display: flex;
    justify-content: stretch;
    align-items: center;
    margin: 20px 0;
    gap: 1.5rem;
}

#footer .hr-copy {
    margin: 50px 0 0px 0;
}

#footer .copyright {
    text-align: center;
    margin-top: 30px;
}


/* == Go-Top == */

.go_top {
    position: fixed;
    bottom: 16px;
    right: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: all .5s;
}

.go_top.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}

.go_top a {
    background: var(--secondary-color);
    color: var(--light-color);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    font-size: 27px;
    transition: all .5s;
    animation: colur 1s infinite alternate;
}

.go_top a:hover {
    background: var(--primary-color);
    color: var(--light-color);
    transition: all .5s;
    animation: colour 1s infinite alternate;
}


.go_top .fa-angle-up {
    margin-top: 12px;
    margin-left: 17px;
}

@keyframes colur {
    from {
        color: var(--light-gray-color);
    }

    to {
        color: var(--light-color);
    }
}

@keyframes colour {
    from {
        color: var(--light-color);
    }

    to {
        color: var(--light-gray-color);
    }
}


/* ==== Media Queries ==== */

@media only screen and (max-width:1060px) {
    #footer .row {
        flex-flow: column wrap;
    }

    #footer .footer-img img {
        width: 100%;
    }

    #footer .footer-text h1 {
        font-size: 60px;
    }
}

@media only screen and (max-width:768px) {
    #footer {
        padding-top: 40px;
    }

    #footer .footer-img img {
        width: 100%;
    }

    #footer .footer-text {
        margin-top: -30px;
    }

    #footer nav {
        display: flex;
        justify-content: start;
    }
}

@media only screen and (max-width:576px) {
    #footer .row {
        align-items: start;
    }

    #footer .footer-text h1 {
        font-size: 40px;
    }

    #footer .footer-text p {
        margin-top: -5px;
        padding-right: 0px;
    }
}