/*=================================================
# General 
==================================================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    /* background: radial-gradient(#120128,#240e45); */
    background: linear-gradient(360deg,#6a0f3b,#240e45);
}