/*=================================================
# General 
==================================================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

main {
    margin-top: 75px;
}

/*=================================================
# Header
==================================================*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--light-color);
    height: 75px;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
}

.navbar .nav-brand {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 90px;
}

.navbar .nav-brand .brand {
    width: 55px;
}
.navbar .nav-brand .brand-2 {
    width: 150px;
    margin-top: 3px;
}

.navbar .nav-brand .brand-txt {
    color: var(--white-color);
    text-transform: capitalize;
    font-weight: bold;
    font-size: 23px;
    font-family: 'Alegreya Sans SC', sans-serif;
    margin-top: 3px;
}

.navbar .navbar-nav {
    display: flex;
    gap: 1.7rem;
    margin-left: auto;
}

.navbar-nav .nav-item {
    list-style: none;
}

.navbar-nav .nav-item .nav-link {
    text-decoration: none;
    color: var(--dark-color);
}
.navbar-nav .nav-item .nav-link:hover {
    color: var(--gray-color);
}

.navbar-nav .nav-item .nav-link.active {
    color: var(--black-color);
    font-weight: bold;
    transition: color .3s ease;
}
.navbar-nav .nav-item .nav-link.active:hover {
    color: var(--gray-color);
}

.navbar .social {
    margin: 0 30px;
}

.navbar .social a {
    text-decoration: none;
    margin: 0 5px;
}

.navbar .social i {
    color: var(--dark-color);
    font-size: 20px;
    transition: color .3s ease;
}

.navbar .social i:hover {
    color: var(--gray-color);
 }

.navbar a.btn {
    margin-right: 92px;
    outline: none;
    padding: 9px 40px;
}

/*=================================================
# Footer
==================================================*/